@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model ProfileViewModel

<div class="col-12 no-padding">
    <div class="edit-container">
        <div class="row">
            <div class="col-6 no-padding">
                <h5>Educational History Info</h5>
            </div>
            <div class="col-6 no-padding container-align-right">
                <span class="edit-action" data-toggle="modal" data-target="#EducationHistoryModal" onclick="InitEducationHistoryAddMode()">Add</span>
            </div>
        </div>
        <div class="options-container">
            <div id="ProfileEducationHistoryNotSpecified" style="@(Model.HasSuppliedEducationHistory ? "display:none" : "display:block")">
                <text>No education history has been provided.</text>
            </div>
            <div id="ProfileEducationHistory">
                @foreach (SubscriberEducationHistoryDto eh in Model.EducationHistory)
                {
                <div class="row profile-education-history" id="ProfileEducationHistory_@eh.SubscriberEducationHistoryGuid">
                    <div id="ProfileEducationHistory_Institution_@eh.SubscriberEducationHistoryGuid" class="col-11 education-history-institution" data-institution="@eh.EducationalInstitution">
                        @eh.EducationalInstitution
                        <i class="fa fa-pencil-alt" aria-hidden="true" onclick="EditEducationHistory('@eh.SubscriberEducationHistoryGuid')"></i>
                        <i class="fa fa-trash" aria-hidden="true" onclick="DeleteEducationHistory('@eh.SubscriberEducationHistoryGuid')"> </i>
                    </div>
                    <div id="ProfileEducationHistory_Degree_@eh.SubscriberEducationHistoryGuid" class="col-11 education-history-degree" data-degree="@eh.EducationalDegree" data-degreetype="@eh.EducationalDegreeType">
                        @* value being set in profile.js *@
                    </div>
                    <div id="ProfileEducationHistory_Tenure_@eh.SubscriberEducationHistoryGuid" class="col-11 education-history-tenure" data-startdate="@eh.StartDate" data-enddate="@eh.EndDate">
                        @* value being set in profile.js *@
                    </div>
                    <div id="ProfileEducationHistory_DegreeDate__@eh.SubscriberEducationHistoryGuid" class="col-11 education-history-degreedate" data-degreedate="@eh.DegreeDate">
                        @* value being set in profile.js *@
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>