@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model ProfileViewModel

<script type="text/javascript">
    // this must be present for the API call used in site.js
    var url = '@Url.Action("GetStatesByCountry", "Home")';
    var subscriberSkills = @Json.Serialize(Model.Skills);

    document.addEventListener("DOMContentLoaded", function (event) {

        $('.edit-profile-info-button').on('click', function () {
            $('.personal-info-display').slideToggle();
            $('#PersonalInfoFormContainer').slideToggle();
            $('.edit-profile-info-button').toggleClass('expanded');

            $('.edit-profile-info-button').each(function () {
                if ($(this).hasClass("expanded") && !$(this).hasClass('profile-mobile-view')) {
                    $(this).html("Cancel");
                } else {
                    if (!$(this).hasClass('profile-mobile-cancel')) {

                        $(this).html("Edit");
                    }
                }
            });
        });

        $('#PersonalInfoForm').submit(function (e) {
            $.ajax({
                type: "POST",
                url: '/home/UpdateProfileInformation',
                data: $(this).serialize(),
                success: function (html) {
                    if (html.statusCode === "200") {
                        location.reload();
                    }
                    else {
                        $('#ValidationSummary ul').html('');
                        var errorMessages = html.description.split("|");
                        for (i = 0; i < errorMessages.length; i++) {
                            if (i != errorMessages.length - 1) {
                                var li = document.createElement("li");
                                li.innerHTML = errorMessages[i];
                                $('#ValidationSummary ul').append(li);
                            }

                        }
                    }
                }
            });
            e.preventDefault();
        });




    });

</script>
<script src="~/js/selectize-handling.js"></script>

@* Modals for editing *@
<form asp-controller="Home" asp-action="UpdateProfileInformation" id="PersonalInfoForm"></form>
<input type="hidden" form="PersonalInfoForm" value="@Model.SubscriberGuid" asp-for="SubscriberGuid"/>
<div class="modal fade" id="NameModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="profile-edit-modal-header-container">
                    <h4>Change Personal Info</h4>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">First name</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="FirstName" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">Last name</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="LastName" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">Address</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="Address" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">City</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="City" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">State</div>
                    <div class="modal-edit-input">
                        @Html.DropDownListFor(m => m.SelectedCountry, Model.Countries, "Select Country", new { @class = "form-control country-select", form = "PersonalInfoForm" })
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">State</div>
                    <div class="modal-edit-input">
                        @Html.DropDownListFor(m => m.SelectedState, Model.States, "Select State", new { @class = "form-control state-select", form = "PersonalInfoForm" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="PersonalInfoForm" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ContactInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="profile-edit-modal-header-container">
                    <h4>Change contact info</h4>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">Phone Number</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" id="phone-number" class="form-control" maxlength="14" placeholder="(###) ###-####" asp-for="FormattedPhone" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="PersonalInfoForm" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SocialLinksModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="profile-edit-modal-header-container">
                    <h4>Change social links</h4>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">Facebook</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="FacebookUrl" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">Twitter</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="TwitterUrl" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">LinkedIn</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="LinkedInUrl" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">StackOverflow</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="StackOverflowUrl" />
                    </div>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">GitHub</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" class="form-control" asp-for="GithubUrl" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="PersonalInfoForm" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SkillsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="profile-edit-modal-header-container">
                    <h4>Change skills</h4>
                </div>
                <div class="profile-edit-modal-edit-option">
                    <div class="modal-edit-input-label">Skills</div>
                    <div class="modal-edit-input">
                        <input form="PersonalInfoForm" type="text" asp-for="SelectedSkills" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="PersonalInfoForm" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="profile-container">
    <div class="row profile-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="profile-headshot">
                            <img src="~/images/blank_avatar.jpg" />
                        </div>-->
                        <div class="row profile-header-info">
                            <!--<div class="offset-md-3 col-md-5">-->
                            <div class="col-md-8 no-padding">
                                <div class="career-circle-profile-text">My CareerCircle Profile</div>
                                <div id="ProfileName" class="career-circle-profile-name">
                                    <span id="ProfileFirstName">@(string.IsNullOrEmpty(Model.FirstName) ? "CareerCircle User" : Model.FirstName)</span>
                                    <span id="ProfileLastName">@(string.IsNullOrEmpty(Model.LastName) ? "" : Model.LastName)</span>
                                </div>
                                <div class="career-circle-profile-email">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    @Model.Email
                                </div>
                            </div>
                            <!--
                            <div class="col-md-4 no-padding">
                                Circle Completion Rating
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-body-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="courses-in-progress-container">
                            <div class="course-in-progress-header">
                                <h2>Courses in Progress</h2>
                            </div>
                            <div class="courses-in-progress-list-container">
                                @{
                                    if (Model.Enrollments.Count == 0)
                                    {
                                        <text>You are not currently enrolled in any courses.</text>
                                    }
                                }
                                <ul class="courses-in-progress-list-desktop">
                                    @foreach (EnrollmentDto enrollment in Model.Enrollments)
                                    {
                                        <li class="course-in-progress-li">
                                            @if (enrollment.SimplifiedEnrollmentStatus == SimplifiedEnrollmentStatus.Success)
                                            {
                                                @Html.Raw("<a target=\"_blank\" href=\"" + enrollment.CourseUrl + "\">")
                                            }

                                            <div class="course-in-progress-anchor-container">
                                                <div class="course-in-progress-info">
                                                    <div class="row no-padding">
                                                        <div class="col-12 col-sm-8 no-padding">
                                                            <h3>@enrollment.Course.Name</h3>
                                                        </div>
                                                        <div class="col-12 col-sm-4 no-padding cip-progress-indictation">
                                                            @if (enrollment.SimplifiedEnrollmentStatus == SimplifiedEnrollmentStatus.Pending)
                                                            {
                                                                <text>Enrollment in progress.</text>
                                                            }
                                                            else if (enrollment.SimplifiedEnrollmentStatus == SimplifiedEnrollmentStatus.Success)
                                                            {
                                                                <text>Continue <i class="fas fa-arrow-right"></i></text>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                @{
                                                    @if (enrollment.SimplifiedEnrollmentStatus == SimplifiedEnrollmentStatus.Success)
                                                    {
                                                        double percentComplete = enrollment.PercentComplete;
                                                        string classFormatter = "";
                                                        if (percentComplete < 50)
                                                        {
                                                            classFormatter = "less-than-50";
                                                        }
                                                        else
                                                        {
                                                            classFormatter = "more-than-50";
                                                        }
                                                        <div class="course-in-progress">

                                                            <div class="progress @(classFormatter)">

                                                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="@(percentComplete)" aria-valuemin="0" aria-valuemax="100">
                                                                    <div class="course-completion-percentage">
                                                                        @(percentComplete)%
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    }
                                                    else if (enrollment.SimplifiedEnrollmentStatus == SimplifiedEnrollmentStatus.Error)
                                                    {
                                                        <div class="course-enrollment-failure-container">
                                                            Unfortunately, an error occurred when attempting to process your enrollment. We have been notified and are working to resolve the issue.
                                                        </div>
                                                    }

                                                }
                                            </div>

                                            @if (enrollment.SimplifiedEnrollmentStatus == SimplifiedEnrollmentStatus.Success)
                                            {
                                                @Html.Raw("</a>")
                                            }




                                        </li>
                                                    }
                                </ul>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="profile-edit-container row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="ProfileInformationContainer">
                            <div class="edit-personal-info-container">
                                <div class="personal-info-header">
                                    <div class="row">
                                        <div class="col-12 no-padding">
                                            <h2>Profile</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="options-input-container">
                                    <div class="row">
                                        <div class="col-12 no-padding">
                                            <div class="edit-container">
                                                <div class="row">
                                                    <div class="col-6 no-padding">
                                                        <h5>Personal Info</h5>
                                                    </div>
                                                    <div class="col-6 no-padding container-align-right">
                                                        <span class="edit-action" data-toggle="modal" data-target="#NameModal">Edit</span>
                                                    </div>
                                                </div>
                                                @{
                                                    if (!Model.HasFirstAndLastName && !Model.HasFullyQualifiedAddress)
                                                    {
                                                        <text>No personal information has been provided.</text>
                                                    }
                                                    else
                                                    {
                                                        <div class="options-container">
                                                            @{ 
                                                                if (Model.HasFirstAndLastName)
                                                                {
                                                                    <div class="name-container">
                                                                        <div class="option-header">Name</div>
                                                                        <span class="option-value">@Model.FirstName @Model.LastName</span>
                                                                    </div>
                                                                }
                                                                if (Model.HasFullyQualifiedAddress)
                                                                {
                                                                    <div class="address-container">
                                                                        <div class="option-header">Address</div>
                                                                        <span class="option-value">@Model.Address @Model.City, @Model.States.Where(s => s.Value == Model.SelectedState.Value.ToString()).FirstOrDefault().Text</span>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                                }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12 no-padding">
                                            <div class="edit-container">
                                                <div class="row">
                                                    <div class="col-6 no-padding">
                                                        <h5>Contact Info</h5>
                                                    </div>
                                                    <div class="col-6 no-padding container-align-right">
                                                        <span class="edit-action" data-toggle="modal" data-target="#ContactInfoModal">Edit</span>
                                                    </div>
                                                </div>
                                                <div class="options-container">
                                                    @{
                                                        if (!string.IsNullOrWhiteSpace(Model.FormattedPhone))
                                                        {
                                                            <div>
                                                                <div class="option-header">Phone</div>
                                                                <span class="option-value">@Model.FormattedPhone</span>
                                                            </div>
                                                        }
                                                    }
                                                    @*We know this page cannot be accessed unless user has signed up with an email.
                                                        Therefore, we don't need to check if it exists.*@
                                                    <div>
                                                        <div class="option-header">Email</div>
                                                        <span class="option-value">@Model.Email</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 no-padding">
                                            <div class="edit-container">
                                                <div class="row">
                                                    <div class="col-6 no-padding">
                                                        <h5>Social Links</h5>
                                                    </div>
                                                    <div class="col-6 no-padding container-align-right">
                                                        <span class="edit-action" data-toggle="modal" data-target="#SocialLinksModal">Edit</span>
                                                    </div>
                                                </div>
                                                @{
                                                    if (!Model.HasSuppliedAnySocialLinks)
                                                    {
                                                        <text>No social links have been provided.</text>
                                                    }
                                                    else
                                                    {
                                                        <div class="options-container">
                                                            @{ 
                                                                if (!string.IsNullOrWhiteSpace(Model.FacebookUrl))
                                                                { 
                                                                    <div>
                                                                        <div class="option-header">Facebook</div>
                                                                        <span class="option-value">@Model.FacebookUrl</span>
                                                                    </div>
                                                                }
                                                                if (!string.IsNullOrWhiteSpace(Model.GithubUrl))
                                                                {
                                                                    <div>
                                                                        <div class="option-header">GitHub</div>
                                                                        <span class="option-value">@Model.GithubUrl</span>
                                                                    </div>
                                                                }
                                                                if (!string.IsNullOrWhiteSpace(Model.LinkedInUrl))
                                                                {
                                                                    <div>
                                                                        <div class="option-header">LinkedIn</div>
                                                                        <span class="option-value">@Model.LinkedInUrl</span>
                                                                    </div>
                                                                }
                                                                if (!string.IsNullOrWhiteSpace(Model.StackOverflowUrl))
                                                                {
                                                                    <div>
                                                                        <div class="option-header">StackOverflow</div>
                                                                        <span class="option-value">@Model.StackOverflowUrl</span>
                                                                    </div>
                                                                }
                                                                if (!string.IsNullOrWhiteSpace(Model.TwitterUrl))
                                                                {
                                                                    <div>
                                                                        <div class="option-header">Twitter</div>
                                                                        <span class="option-value">@Model.TwitterUrl</span>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <div class="col-12 no-padding">
                                            <div class="edit-container">
                                                <div class="row">
                                                    <div class="col-6 no-padding">
                                                        <h5>Skills</h5>
                                                    </div>
                                                    <div class="col-6 no-padding container-align-right">
                                                        <span class="edit-action" data-toggle="modal" data-target="#SkillsModal">Edit</span>
                                                    </div>
                                                </div>
                                                @{ 
                                                    if(Model.Skills.Count == 0)
                                                    {
                                                        <text>No skills have been provided.</text>
                                                    }
                                                    else
                                                    {
                                                        <div class="options-container">
                                                            @{
                                                                foreach (var skill in Model.Skills)
                                                                {
                                                                    <div class="skill-pill">

                                                                        @Html.DisplayFor(item => skill.SkillName)
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                }
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>