@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model ProfileViewModel
@{ 
    List<CountryDto> countries = Model.CountryStateMapping.Keys.ToList();
    //countries.Sort();
    //countries.Remove("US");
    //countries.Insert(0, "US");
}
<script type="text/javascript">
    var locationsList = {};
    
    @foreach (CountryDto country in Model.CountryStateMapping.Keys)
    {
        <text>
            var states = [];
        </text>
        foreach (StateDto state in Model.CountryStateMapping[country])
        {
            <text>
                states.push({"id" : "@state.StateId", "name" : "@state.Name"});
            </text>
        }
        <text>
            locationsList["@country.Code2"] = states;
        </text>
    }

    

</script>

<div class="profile-container">
    <div class="row profile-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="profile-headshot">
                            <img src="~/images/blank_avatar.jpg" />
                        </div>-->
                        <div class="row profile-header-info">
                            <!--<div class="offset-md-3 col-md-5">-->
                            <div class="col-md-8 no-padding">
                                <div class="career-circle-profile-text">My CareerCircle Profile</div>
                                <div id="ProfileName" class="career-circle-profile-name">
                                    <span id="ProfileFirstName">@(string.IsNullOrEmpty(Model.Subscriber.FirstName) ? "CareerCircle User" : Model.Subscriber.FirstName)</span>
                                    <span id="ProfileLastName">@(string.IsNullOrEmpty(Model.Subscriber.LastName) ? "" : Model.Subscriber.LastName)</span>
                                </div>
                                <div class="career-circle-profile-email">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    @Model.Subscriber.Email
                                </div>
                            </div>
                            <!--
                            <div class="col-md-4 no-padding">
                                Circle Completion Rating
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-body-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <!--<div class="offset-md-3 col-md-9">-->
                    <div class="col-md-12">
                       <!--
                        <div class="course-recommendation-container">
                            <div class="course-recommendation-header">
                                <h2>Course Recommendation</h2>
                            </div>
                        </div>-->
                      
                        <div class="courses-in-progress-container">
                            <div class="course-in-progress-header">
                                <h2>Courses in Progress</h2>
                            </div>
                            <div class="courses-in-progress-list-container">
                                @{
                                    if (Model.CurrentEnrollments.Count == 0)
                                    {
                                        <text>You are not currently enrolled in any courses.</text>
                                    }
                                }
                                <ul class="courses-in-progress-list-desktop">
                                    @foreach (WozCourseProgress enrollment in Model.CurrentEnrollments)
                                    {
                                        bool hasProgressInfo = enrollment.StatusCode != 500;
                                        <li class="course-in-progress-li">
                                            <a target="_blank" href="@enrollment.CourseUrl">
                                                <div class="course-in-progress-info">
                                                    <div class="row no-padding">
                                                        <div class="col-8 no-padding">
                                                            <h3>@enrollment.CourseName</h3>
                                                        </div>
                                                        <div class="col-4 no-padding container-align-right">
                                                            Continue <i class="fas fa-arrow-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                @{
                                                    double percentComplete = enrollment.PercentComplete;
                                                    string classFormatter = "";
                                                    if (percentComplete < 50)
                                                    {
                                                        classFormatter = "less-than-50";
                                                    }
                                                    else
                                                    {
                                                        classFormatter = "more-than-50";
                                                    }
                                                    <div class="course-in-progress">

                                                        <div class="progress @(classFormatter)">

                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="@(percentComplete)" aria-valuemin="0" aria-valuemax="100">
                                                                <div class="course-completion-percentage">
                                                                    @(percentComplete)%
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                }

                                            </a>
                                            
                                            

                                        </li>
                                    }
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="dashed-line-boxes-container">
                            <div class="edit-personal-info-container">
                                <div class="personal-info-header">
                                    <div class="row">
                                        <div class="col-12 col-sm-8 no-padding">
                                            <h2>Contact Information</h2>
                                        </div>
                                        <div class="col-4 d-none d-sm-block container-align-right no-padding">
                                            <button class="btn btn-primary edit-profile-info-button" type="button">
                                                Edit
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="personal-info-display">
                                    @{ 
                                        if (!Model.HasAnyInformationToDisplay)
                                        {
                                            <text>No information found. Please press 'Edit' to edit your information.</text>
                                        }
                                    }
                                    <ul>
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedFirstName))
                                            {
                                                <li>
                                                    First name: <span id="ProfileFirstNameDisplay">@Model.DisplayedFirstName</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedLastName))
                                            {
                                                <li>
                                                    Last name: <span id="ProfileLastNameDisplay">@Model.DisplayedLastName</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedAddress))
                                            {
                                                <li>
                                                    Address: <span id="ProfileAddressDisplay">@Model.DisplayedAddress</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedCity))
                                            {
                                                <li>
                                                    City: <span id="ProfileCityDisplay">@Model.DisplayedCity</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedState))
                                            {
                                                <li>
                                                    State: <span id="ProfileStateDisplay">@Model.DisplayedState</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedCountry))
                                            {
                                                <li>
                                                    Country: <span id="ProfileCountryDisplay">@Model.DisplayedCountry</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedPhone))
                                            {
                                                <li>
                                                    Phone number: <span id="ProfilePhoneNumberDisplay">@Model.DisplayedPhone</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedFacebookUrl))
                                            {
                                                <li>
                                                    Facebook: <span id="ProfilePhoneNumberDisplay">@Model.DisplayedFacebookUrl</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedTwitterUrl))
                                            {
                                                <li>
                                                    Twitter: <span id="ProfilePhoneNumberDisplay">@Model.DisplayedTwitterUrl</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedLinkedInUrl))
                                            {
                                                <li>
                                                    LinkedIn: <span id="ProfilePhoneNumberDisplay">@Model.DisplayedLinkedInUrl</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedStackOverflowUrl))
                                            {
                                                <li>
                                                    StackOverflow: <span id="ProfilePhoneNumberDisplay">@Model.DisplayedStackOverflowUrl</span>
                                                </li>
                                            }
                                        }
                                        @{
                                            if (!string.IsNullOrEmpty(Model.DisplayedGithubUrl))
                                            {
                                                <li>
                                                    GitHub: <span id="ProfilePhoneNumberDisplay">@Model.DisplayedGithubUrl</span>
                                                </li>
                                            }
                                        }

                                        
                                    </ul>
                                    <button class="btn btn-primary edit-profile-info-button d-block d-sm-none profile-mobile-view" type="button">
                                        Edit
                                    </button>

                                </div>
                                <div class="personal-info-form hidden" id="PersonalInfoFormContainer">
                                    <form asp-controller="Home" asp-action="UpdateProfileInformation" id="PersonalInfoForm">
                                        <input type="hidden" asp-for="CurrentSubscriberGuid" value="@(Model.Subscriber.SubscriberGuid)" />
                                        <input type="hidden" asp-for="UpdatedState" value="" />
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedFirstName">First Name</label>
                                                <input type="text" class="form-control" name="UpdatedFirstName" id="UpdatedFirstName" asp-for="UpdatedFirstName" placeholder="@Model.FirstNamePlaceholder">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="UpdatedLastName">Last Name</label>
                                                <input type="text" class="form-control" name="UpdatedLastName" id="UpdatedLastName" asp-for="UpdatedLastName" placeholder="@Model.LastNamePlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedPhoneNumber">Phone Number</label>
                                                <input type="text" class="form-control" name="UpdatedPhoneNumber" id="UpdatedPhoneNumber" maxlength="10" asp-for="UpdatedPhoneNumber" placeholder="@Model.PhonePlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedAddress">Address</label>
                                                <input type="text" class="form-control" name="UpdatedAddress" id="UpdatedAddress" asp-for="UpdatedAddress" placeholder="@Model.AddressPlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedCity">City</label>
                                                <input type="text" class="form-control" name="UpdatedCity" id="UpdatedCity" asp-for="UpdatedCity" placeholder="@Model.CityPlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedCountry">Country</label>
                                                <select class="form-control country-select" id="UpdatedCountry">
                                                    @{
                                                        foreach (CountryDto country in countries)
                                                        {
                                                            if (Model.Country.DisplayName != "")
                                                            {
                                                                if (country.DisplayName.Equals(Model.Country.DisplayName))
                                                                {
                                                                    <option value="@country.Code2" selected="selected">@country.DisplayName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@country.Code2">@country.DisplayName</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (country.Code2.Equals("US"))
                                                                {
                                                                    <option value="@country.Code2" selected="selected">@country.DisplayName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@country.Code2">@country.DisplayName</option>
                                                                }
                                                            }

                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedStateInput">State</label>
                                                <select class="form-control state-select" id="UpdatedStateInput"></select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedFacebookUrl">Facebook Profile</label>
                                                <input type="text" class="form-control" name="UpdatedFacebookUrl" id="UpdatedFacebookUrl" asp-for="UpdatedFacebookUrl" placeholder="@Model.FacebookUrlPlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedTwitterUrl">Twitter Profile</label>
                                                <input type="text" class="form-control" name="UpdatedTwitterUrl" id="UpdatedTwitterUrl" asp-for="UpdatedTwitterUrl" placeholder="@Model.TwitterUrlPlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedLinkedInUrl">LinkedIn Profile</label>
                                                <input type="text" class="form-control" name="UpdatedLinkedInUrl" id="UpdatedLinkedInUrl" asp-for="UpdatedLinkedInUrl" placeholder="@Model.LinkedInUrlPlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedStackOverflowUrl">StackOverflow Profile</label>
                                                <input type="text" class="form-control" name="UpdatedStackOverflowUrl" id="UpdatedStackOverflowUrl" asp-for="UpdatedStackOverflowUrl" placeholder="@Model.StackOverflowUrlPlaceholder">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="UpdatedGithubUrl">GitHub Profile</label>
                                                <input type="text" class="form-control" name="UpdatedGithubUrl" id="UpdatedGithubUrl" asp-for="UpdatedGithubUrl" placeholder="@Model.GithubUrlPlaceholder">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-6 col-sm-12 no-padding container-align-right">
                                                <button type="submit" id="EditProfileInfoSubmit" class="btn btn-primary">Submit</button>
                                            </div>
                                            <div class="col-6 d-block d-sm-none no-padding">
                                                <button class="btn btn-primary edit-profile-info-button profile-mobile-cancel" type="button">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @{ 
        if (!Model.State.Name.Equals(""))
        {
            <text>
            var dropdown = document.getElementById("UpdatedStateInput");
            var country = "@Model.Country.Code2";
            var state = "@Model.State.Name";
            var states = locationsList[country];
            for (i = 0; i < states.length; i++)
            {
                var option = document.createElement("option");
                option.text = states[i].name;
                if (option.text === state) {
                    option.selected = 'selected';
                }
                option.value = states[i].id;
                dropdown.appendChild(option);
    }
            </text>
        }
        else
        {
            <text>
            var dropdown = document.getElementById("UpdatedStateInput");
            var country = "US";
            var states = locationsList[country];
            for (i = 0; i < states.length; i++)
            {
                var option = document.createElement("option");
                option.text = states[i].name;
                option.value = states[i].id;
                dropdown.appendChild(option);
    }
            </text>
        }
    }
    
</script>