@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model UnifiedViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using System.Web
@inject IViewLocalizer Localizer
@{
    Layout = null;
    string DomainName = Context.Request.Host.ToString();
    string SSLProtocol = Context.Request.Scheme.ToString();
    string ProtocolAndHost = SSLProtocol + "://" + DomainName;
}
<style>
    .login-container {
        background-image: url('@(SSLProtocol)://@(DomainName)/images/blue_background_login.jpg');
    }
    body{
        padding-top: 0 !important;
    }
    body nav{
        border-bottom: 0 !important;
    }
</style>
<!doctype html>
<html>
<head>
    <title>CareerCircle - Signup/Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerCircle</title>
    <link rel="shortcut icon" href="@(ProtocolAndHost)/images/Icon-20.png" />
    <environment names="Development,DevelopmentLocalApi,DevelopmentLocal">
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/css/Unified.css" />
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/css/bundle.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/css/site.min.css" />
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/css/Unified.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="@(ProtocolAndHost)/Home/Index">
                <img src="@(ProtocolAndHost)/images/cc_logo_white.png" />
            </a>
        </div>
    </nav>
    <div class="row login-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="unified-container">
                            <div id="api"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="tos-container container-align-left">
                            <div class="container-align-center">
                                <em>Terms of Service</em>

                            </div>
                            <div>
                                <p>
                                    This page states the "Terms and Conditions of Use" under which users may use <a href="/">careercircle.com</a>, an on-line service that help candidates connect with partners that provide educational content that can enable candidates to enhance their current career skills and access new career opportunities through on-line learning modules ("careercircle.com” or the "Site"). We provide a platform that contains educational content through on-line learning modules (the “Services”).  The terms "You" and "User" as used herein refer to all individuals or entities accessing this web site for any reason. These Terms and Conditions of Use include the careercircle.com Privacy Statement, which is incorporated into these Terms and Conditions of Use by reference.
                                </p>
                                <p>
                                    Please read this page carefully. By using the Site, You are indicating your agreement and acceptance to be bound by these Terms and Conditions of Use. If You do not accept the Terms and Conditions of Use stated here, do not use the Site. Career Circle, LLC (dba CareerCircle) ("CareerCircle", the "Company", "we" or "us") may revise these Terms and Conditions of Use at any time by updating this posting. You should visit this page periodically to review the Terms and Conditions of Use, because they are binding on You.
                                </p>
                            </div>

                            <div>
                                <strong>1. Eligibility</strong><br />
                                <p>
                                    The Site may only be accessed and used by persons who have obtained a valid password to access the Site from the Company.  Notwithstanding the foregoing, the Company reserves the right, in its sole discretion, to deny access to the Site by any User or to modify, suspend or terminate any User's access to or use of the Site at any time, for any reason or for no reason, without notice.
                                </p>
                                <p>
                                    In no event may this Site be used or linked to by third parties including recruiters or by any party charging a fee for access to this Site or for access to any information gathered in this Site (including, but not limited to, employment clearing houses, employment placement/outplacement agencies, search firms, headhunters, temporary worker agencies, or employment consultants) or any company offering online education opportunities.
                                </p>
                                <p>
                                    Users under the age of 18 must enter into an additional separate agreement with the Company prior to using the Site.
                                </p>
                                <p>
                                    Each User will be assigned a unique password, which will enable such User (and only such User) to access and use those portions of the Site that they are authorized to use. You are responsible for maintaining the confidentiality and security of your password, and for all uses of your password or registration and all activities that occur under your password or account, whether or not authorized by you. You agree (a) not to disclose or share your password with any third party, (b) to use your best efforts to prevent any third party from obtaining your password, and (c) to inform us immediately of any actual or potential unauthorized use of or access to your password or to the Site. However, you may disclose your password to an individual who is providing support to you in connection with your use of the Site. No User shall create more than one account on the Site without the prior written consent of the Company in each instance.
                                </p>
                            </div>

                            <div>
                                <strong>2. Use of Content on Career Circle.</strong><br />
                                <p>
                                    The Company authorizes You to view and access the content distributed a single copy of the content available on or from the Site solely in accordance with these Terms and Conditions of Use. The content on careercircle.com and of all other web sites under the Company's control, whether partial or otherwise, including text, graphics, images, logos, button icons, look and feel, software or any other data or information contained on the Site (the "Content"), are protected under both United States and foreign copyright, trademark and other laws. All of the Content is the property of the Company or its content suppliers. The collection, arrangement and assembly of all content on the Site are the exclusive property of the Company and protected by U.S. and international copyright laws. Unauthorized use of the Content may violate copyright, trademark, and other laws. You must retain all copyright, trademark, servicemark and other proprietary notices contained in the original Content on any copy You make of the Content. You may not sell or modify the Content or reproduce, display, publicly perform, distribute, or otherwise use the Content in any way for any public or commercial purpose. The use of the Content on any other web site or in a networked computer environment for any purpose is prohibited. You shall not copy or adapt the source or HTML code the Company uses or creates to generate any Content or the pages making up the Site which is also protected by the Company's copyright. CareerCircle is only providing You with the right to access and use the Site. CareerCircle retains sole and exclusive ownership of and all right, title, and interest in and to the Site (including ownership of all trade secrets, trade dress, copyrights, and other intellectual property interests pertaining to the Site) and to all modifications and enhancements of the Site, subject only to the rights and privileges expressly granted to You hereunder. In addition, the Site is presented with a distinctive "look and feel," and this "look and feel" is the proprietary property of CareerCircle. CareerCircle reserves all rights in and to the Site not expressly granted hereunder. You may not use, copy, modify, or distribute the Site or the Services (electronically or otherwise), including the source code for any portion of the Site or the Service, or any copy, adaptation, transcription, or merged portion thereof, except as expressly authorized by CareerCircle herein. You may not modify, reverse engineer, disassemble, decompile, translate, create derivative works from, or otherwise alter the Site. You may not transfer, lease, assign, rent, or sublicense the rights granted hereunder, or make the Site available for the use of others. You may not use any portion of the Site for any purpose other than its intended purpose.
                                </p>
                            </div>

                            <div>
                                <strong>3. Site Restrictions</strong><br />
                                <p>
                                    Users may not use the Site to transmit, distribute, store or destroy material, including without limitation Content:
                                </p>
                                <ol>
                                    <li>in violation of any applicable law or regulation; </li>
                                    <li>in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others; or </li>
                                    <li>that is defamatory, obscene, threatening, abusive or hateful.</li>
                                </ol>
                            </div>

                            <div>
                                <p>
                                    Users are also prohibited from violating or attempting to violate the security of any part of the Site, including, without limitation the following activities:
                                </p>
                                <ol type="i">
                                    <li>
                                        accessing data not intended for such user or logging into a server or account which the user is not authorized to access;
                                    </li>
                                    <li>
                                        attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;
                                    </li>
                                    <li>
                                        attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to the Site, overloading, "flooding", "spamming", "mailbombing" or "crashing"; or
                                    </li>
                                    <li>
                                        forging any TCP/IP packet header or any part of the header information in any e-mail or posting.
                                    </li>
                                </ol>
                            </div>

                            <div>
                                <p>
                                    Violations of system or network security may result in civil or criminal liability. The Company will investigate occurrences which may involve such violations and may contact, involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.
                                </p>
                                <p>
                                    CareerCircle hereby grants you permission to use the Services, subject to the following conditions, and you agree that your failure to adhere to any of these conditions shall constitutes a breach of these terms on your part:
                                </p>
                                <ol type="A">
                                    <li>You agree not to distribute any part of or parts of the Service, including but not limited to any content, in any medium without CareerCircle’s prior written authorization;</li>
                                    <li>You agree not to alter or modify any part of the Website or any of the Service;</li>
                                    <li>You agree not to access the Services through any technology or means other than the means proscribed by CareerCircle;</li>
                                    <li>You agree not to (or attempt to) circumvent, disable or otherwise interfere with any security related features of the Service or features that (i) prevent or restrict use or copying of content or (ii) enforce limitations on use of the Service or the content accessible via the Service;</li>
                                    <li>
                                        You agree not to use the Service for any of the following commercial uses unless you obtain CareerCircle’s prior written approval:
                                        <ol type="i">
                                            <li>the sale of access to the Service</li>
                                            <li>the sale of advertising, sponsorships or promotions placed on or within the Service, or content;</li>
                                            <li>the sale of advertising, sponsorships or promotions on any page of an ad-enabled blog or website containing Content delivered via the Services;</li>
                                        </ol>
                                    </li>
                                    <li>
                                        You agree not to use the Website or the Services for the solicitation of business in the course of trade or in connection with a commercial enterprise;
                                    </li>
                                    <li>
                                        You agree not to solicit, for commercial purposes, any users of the Site with respect to their Content; and
                                    </li>
                                    <li>
                                        You agree not to access Content or any reason other than your personal, non-commercial use solely as intended through and permitted by the normal functionality of the Service.
                                    </li>
                                    <li>
                                        You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any content for any other purposes without the prior written consent of CareerCircle or the respective licensors of the content.
                                    </li>
                                </ol>
                            </div>

                            <div>
                                <strong>4. Specific Prohibited Uses.</strong><br />
                                <p>
                                    The Site may be used only for lawful purposes by individuals seeking educational content and by individuals providing or seeking to provide services or products to such individuals and/or employers.
                                </p>
                                <p>
                                    The Company specifically prohibits any other use of the Site, and all Users agree not to do any of the following:
                                </p>
                                <ol type="i">
                                    <li>post content that contains links to any site competitive with the Company;</li>
                                    <li>post content on the Site that contain any hyperlinks, "hidden" keywords or any keywords that are irrelevant to the content or are otherwise misleading; use the user profile or resume information posted on the Site for any purpose other than as an individual seeking employment or an employer seeking employees, including but not limited to using the information to sell or promote any products or services;</li>
                                    <li>post or submit any incomplete, false or inaccurate biographical information or information which is not your own;</li>
                                    <li>post on the Site any franchise, pyramid scheme, "club membership", distributorship or sales representative agency arrangement or other business opportunity which requires an up front or periodic payment, pays commissions only (except for postings that make clear that the available job pays commission only and clearly describes the product or service that the job seeker would be selling, in which case such postings are permissible), requires recruitment of other members, sub-distributors or sub-agents; </li>
                                    <li>use information on the Site to send to any user of the Site unsolicited communications, including but not limited to sending unsolicited mail or e-mail, making unsolicited phone calls or sending unsolicited faxes regarding promotions or advertising of products or services;</li>
                                    <li>delete or revise any material posted by any other user or the Company; </li>
                                    <li>take any action that imposes an unreasonable or disproportionately large load on the Site's infrastructure; </li>
                                    <li>notwithstanding anything to the contrary contained herein, use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, scrapers, avatars or intelligent agents) to navigate or search the Site other than the search engine and search agents available from the Company on the Site and other than generally available third party web browsers;</li>
                                    <li>aggregate, copy or duplicate in any manner any of the Content or information available from the Site;</li>
                                    <li>frame or link to any of the Content or information available from the Site; </li>
                                    <li>use any device, software or routine to interfere or attempt to interfere with the proper working of the Site or any activity being conducted on the Site; or enable or facilitate the Site to be used by or linked to by third party recruiters or by any party charging a fee for access to the Site or for access to any information gathered in this Site (including, but not limited to, employment clearing houses, employment placement or outplacement agencies, search firms, headhunters temporary worker agencies, or employment consultants) without the prior written consent of CareerCircle in each instance.</li>
                                </ol>
                                <p>Users may not register email addresses they do not own or for which they do not have the express permission of the owner to register.</p>
                            </div>

                            <div>
                                <strong>5. Registration Information.</strong><br />
                                <p>When You register with the Site, You will be asked to provide the Company with certain information including, without limitation, your name, address, a valid email address, and other personal characteristics. All personally identifiable information you provide to us is protected under and subject to our Privacy Statement, which is published on this Site, and amended from time to time. </p>
                                <p>In addition to the Terms and Conditions of Use and the Privacy Statement applicable to the Site, You understand and agree that the Company may disclose to third parties, on an anonymous basis, certain aggregate information contained in your registration application. </p>
                            </div>

                            <div>
                                <strong>6. User Content and Submissions.</strong><br />
                                <p>
                                    As a user, You are responsible for your own communications and are responsible for the consequences of their posting. You are solely responsible for your content, messages or other information ("User Content") that You submit, publish or display (hereinafter, "post") on the Site or transmit to other Users.
                                </p>
                                <p>
                                    By submitting or posting User Content to any public or non-public area of the Site, You grant the Company and its affiliates the royalty-free, perpetual, irrevocable, worldwide, sublicenseable (through multiple tiers), non-exclusive right (including any moral rights) and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the User Content (in whole or in part) and to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such content in each case for the purposes set forth in these Terms and Conditions of Use. You also warrant that the holder of any rights, including moral rights in such content, has completely and effectively waived all such rights and validly and irrevocably granted to You the right to grant the license stated above. You also permit any User to access, display, view, store and reproduce such User Content for personal use. Subject to the foregoing, the owner of such User Content placed on the Site retains any and all rights that may exist in such User Content.
                                </p>
                                <p>
                                    Users must not, and by using the Site agree not to, among others, do the following things:
                                </p>
                                <ol type="i">
                                    <li>
                                        post material that is copyrighted, unless you are the copyright owner or have the permission of the copyright owner to post it;
                                    </li>
                                    <li>
                                        post material that reveals trade secrets, unless you own them or have the permission of the owner;
                                    </li>
                                    <li>
                                        post material that infringes on any other intellectual property rights of other or on the privacy or confidentiality or publicity rights of others, or that reveals any information that should be known to the User to be confidential or proprietary;
                                    </li>
                                    <li>
                                        post material that is false, misleading, obscene, defamatory, threatening, harassing, abusive, hateful, harmful, tortuous, embarrassing to another user or any other person or entity, or that is otherwise objectionable or that could constitute an incitement to unlawful conduct;
                                    </li>
                                    <li>
                                        post a sexually-explicit image or statement;
                                    </li>
                                    <li>
                                        post advertisements or solicitations of business;
                                    </li>
                                    <li>
                                        impersonate another person; nor
                                    </li>
                                    <li>
                                        post material that contains viruses, Trojan horses, worms, time bombs, cancelbots or other computer programming routines or engines that are intended to damage, impair, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information.
                                    </li>
                                </ol>
                                <p>
                                    CareerCircle reserves the right in its sole discretion to investigate and take legal action against anyone who engages in any illegal or prohibited conduct or otherwise violates these Terms and Conditions of Use, including without limitation, removing Content from the Site and terminating the offending User's ability to access the Site. The Company may take any other action with respect to User Content or User actions that it deems necessary or appropriate in its sole discretion if it believes it may create liability for the Company or may cause the Company to lose (in whole or in part) the services of its ISPs or other suppliers.
                                </p>
                            </div>

                            <div>
                                <strong>7. The Company's Liability.</strong><br />
                                <p>
                                    The Site acts as a venue for employers to post job opportunities and candidates to post resumes and information about themselves. The Company is not involved in the actual transaction between employers and candidates. As a result, the Company makes no representations about any jobs, resumes or User Content on the Site.
                                </p>
                                <p>
                                    CareerCircle cannot guarantee and does not promise any specific results from use of the Site. No advice or information, whether oral or written, obtained by a User from the Company or through or from careercircle.com shall create any warranty not expressly stated herein.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Footer")
    

</body>
</html>



