@using System.Net
@using UpDiddy.ViewModels
@using UpDiddy.ViewModels.ButterCMS
@using Microsoft.AspNetCore.Mvc.Localization
@model TraitifyViewModel
<div class="traitify-container">
   <div class="cc-traitify row" style="background-image: url(@Model.HeroImage)">
      <div class="col-12">
         <div class="container no-padding">
            <div class="row">
               <div class="col-12 no-padding">
                  <div class="row">
                     <div class="col-12 d-flex justify-content-center no-padding">
                        <div class="cc-traitify-header font-bold">                            
                        </div>
                     </div>
                     <div class="col-12 no-padding">
                        <div class="cc-traitify-content">
                           <div class="row">
                              <div class="col-12 col-lg-6">
                                 @if(Model.SubscriberGuid != null)
                                 {
                                    <div class="d-flex justify-content-center pt-5">
                                       <form method="post" id="AssessmentForm" asp-controller="Traitify" asp-action="Index">
                                        @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                       Text = @Model.FormButtonText,
                                       ChosenColorScheme = "cc-cscheme-primary",
                                       Form = "AssessmentForm",
                                       FitToText = true,
                                       ButtonAction = ActionButtonViewModel.Action.SUBMIT
                                       })
                                       @Html.HiddenFor(x => x.SubscriberGuid)
                                       @Html.HiddenFor(x => x.IsAuthenticated)
                                       </form>
                                    </div>           
                                 }
                                 else
                                 {
                                    @Html.Partial("Partials/_SignUpForm",Model)
                                 }
                              </div>
                              <div class="col-12 col-lg-6">
                                 <h1><strong>@Model.HeroHeader</strong></h1>
                                 <br>
                                 <p>@Model.HeroDescription</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

