@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using React.AspNet;

<section class="container-fluid bg-color-secondary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>My Jobs</h1>
            </div>
        </div>
    </div>
</section>
<section class="my-jobs-section">
    <div class="container py-5">
        <div class="row no-gutters">
            <div class="col-md">


                <div class="jobs-list-wrapper row d-flex align-items-stretch">
                        
                        
                        @if(ViewBag.Jobs.TotalItemCount <= 0)
                        {
                            <div class="col-md-12">
                                <h3>You currently have no pending job applications or favorites.</h3>
                                <p>Please visit our <a href="/jobs">Career Opportunities</a> section to find jobs you're interested in now!</p>
                            </div>
                        }
                        else
                        {
                            foreach(var job in ViewBag.Jobs)
                            {
                                <div class="col-md-5 col-lg-4 col-sm-12 mb-3">
                                    <div class="job card">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <h5><a href="/job/@job.JobPosting.JobPostingGuid">@job.JobPosting.Title</a></h5>
                                            </div>
                                            <div class="card-text">
                                                <h6>@job.Company.CompanyName</h6>
                                                <div class="location">
                                                    <i class="fas fa-map-marker-alt"></i> @job.JobPosting.CityProvince
                                                </div>
                                                @{
                                                    var date = Convert.ToDateTime(job.JobPosting.PostingExpirationDateUTC);
                                                }
                                                <p class="expiration">Expires: @date.ToString("MM/dd")</p>
                                            </div>
                                            <div class="actions-wrapper">
                                                <div class="actions">
                                                    <span class="float-left">
                                                        @Html.React("Favorite", 
                                                            new { 
                                                                jobGuid = job.JobPosting.JobPostingGuid,
                                                                jobPostingFavoriteGuid = job.JobPostingFavoriteGuid
                                                            }
                                                        )
                                                    </span>
                                                    
                                                    <div class="float-right inline-block">
                                                        @if(job.JobApplication == null)
                                                        {
                                                            <span>
                                                                Not Applied
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                Applied
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="full-width text-center">
                                @Html.PagedListPager((IPagedList) ViewBag.jobs, page => Url.Action("jobs", new { page }),
                                    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase() { Display=X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                                        LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" },
                                        MaximumPageNumbersToDisplay=5,
                                        DisplayLinkToFirstPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Never,
                                        DisplayLinkToLastPage = X.PagedList.Mvc.Common.PagedListDisplayMode.Never,
                                        DisplayLinkToPreviousPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                                        DisplayLinkToNextPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                                        LinkToFirstPageFormat = "««",
                                        LinkToPreviousPageFormat = "«",
                                        LinkToNextPageFormat = "»",
                                        LinkToLastPageFormat = "»»",
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                        ContainerDivClasses = new[] { "pagination-container d-inline-block mt-3" },
                                        UlElementClasses = new[] { "pagination" }
                                    })
                            </div>
                        }
                </div>


            </div>
        </div>
    </div>
</section>