@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model CampaignViewModel


<div id="CampaignContainer">
    @* Some of the below hardcoded values will be replaced with variables from the Model. *@
    @{
        List<string> Descriptions = new List<string>
        {
            "We prepare the workforce of today for the opportunities of tomorrow. Enroll in affordable courses and expand your skill set.",
            "We know where the top jobs are. Our partners include companies in Chicago, Baltimore, Charlotte, and Boston."
        };
    }
    @Html.Partial("Components/Bands/_CampaignSignUpBand", new CampaignSignUpBandViewModel {
        CampaignCourse = "React",
        ImageUrl = "/images/logo_react.png",
        CampaignGuid = Model.CampaignGuid,
        ContactGuid = Model.ContactGuid,
        RibbonText = "<strong>LIMITED TIME OFFER:</strong> Finish this course in 8 weeks or less and it's free.<sup>1</sup>",
        DisclaimerText = "To take advantage of this offer, which is tailored to your JavaScript skills, you must sign up with the email address the offer was sent to.<br /><strong>Please do not share this link.<sup>2</sup></strong>"
    })
    @Html.Partial("Components/Bands/_TripleContainerBand", new TripleContainerBandViewModel {
        Header = "Advance Your Career With React",
        ChosenColorScheme = "cc-cscheme-white",
        C1TopValue = "63",
        C1BottomValue = "# of React developer jobs open right now in Baltimore, Chicago, Charlotte and Boston",
        C2TopValue = "304",
        C2BottomValue = "# of React developers we've found jobs for this year",
        C3TopValue = "$127,358",
        C3BottomValue = "Average salary for React web developers"
    })
    @{
        List<ColumnSkewBandViewModel.ColumnSkewBandElement> Elements = new List<ColumnSkewBandViewModel.ColumnSkewBandElement>()
        {
            new ColumnSkewBandViewModel.ColumnSkewBandElement("/images/list_1_react.png", true),
            new ColumnSkewBandViewModel.ColumnSkewBandElement("/images/list_2_react.png", true),
            new ColumnSkewBandViewModel.ColumnSkewBandElement("/images/list_3_react.png", true),
            new ColumnSkewBandViewModel.ColumnSkewBandElement("/images/list_4_react.png", true)
        };
    }
    @Html.Partial("Components/Bands/_ColumnSkewBand", new ColumnSkewBandViewModel
    {
        SkewDirection = "skew-left-to-right",
        Header = "Become a React Developer",
        ChosenColorScheme = "cc-cscheme-tertiary-light-gray",
        Elements = Elements
    })
    @{
        List<ColumnSkewBandViewModel.ColumnSkewBandElement> TextElements = new List<ColumnSkewBandViewModel.ColumnSkewBandElement>()
    {
        new ColumnSkewBandViewModel.ColumnSkewBandElement(UpDiddyLib.Helpers.Utils.FormatWozDescriptionFields(Model.CampaignCourse.Description), false)
    };
    }
    @Html.Partial("Components/Bands/_ColumnSkewBand", new ColumnSkewBandViewModel
    {
        Header = "What You Can Expect From This Course",
        ChosenColorScheme = "cc-cscheme-white",
        Elements = TextElements
    })
    @Html.Partial("Components/Bands/_TextWithVideoBand", new TextWithVideoBandViewModel {
        Header = "Expand Your Skills",
        VideoUrl = "/videos/Career_Circle.mp4",
        VideoThumbnailUrl = "/images/FullStack_Main.png",
        ChosenColorScheme = "cc-cscheme-secondary",
        Descriptions = Descriptions
    })

    
    @{
        List<DisclaimersViewModel.Disclaimer> Disclaimers = new List<DisclaimersViewModel.Disclaimer>()
    {
        new DisclaimersViewModel.Disclaimer("Sign up and complete your self-paced course within 60 days of the date that you purchase the class and you will receive a full refund of the purchase price - $249."),
        new DisclaimersViewModel.Disclaimer("Refund terms and conditions: Offer only eligible to original email recipient, " +
            "users forwarding the email or related URL not eligible, must sign up, login and purchase the designated course in this " +
            "offer to CareerCircle using the same email address. Invitee's must sign up and purchase the designated course before " +
            "March 1, 2019 and complete the course within 60 days of the purchase date.  Course price of $249.00 can only be refunded " +
            "to same payment card used for purchase once verified they have completed the course within the specified timeframe. " +
            "Refunds to be issued within 30 days of all terms and conditions having been met. The class available for the full refund " +
            "is specified in the email you received.")
    };
    }
    @Html.Partial("Components/Utilities/_Disclaimers", new DisclaimersViewModel
    {
        Disclaimers = Disclaimers,
        ChosenColorScheme = "cc-cscheme-tertiary-light-gray"
    })
</div>
<img src="@Model.TrackingImgSource" />