@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using UpDiddy.Helpers
@model JobApplicationViewModel

<div class="job-application-container">
    <div class="row">
        <div class="col-12">
            <h2 class="pb-4">Apply to position: @Model.Job.Title.Replace("/", "&nbsp;/&nbsp;")</h2>
            @if (Model.HasResumeOnFile)
            {
                <form id="JobApplication" asp-controller="Jobs" asp-action="SubmitApplicationAsync">
                    <input type="hidden" asp-for="JobPostingGuid" value="@Model.JobPostingGuid" />
                    <input type="hidden" asp-for="RequestId" value="@Model.RequestId"/>
                    <input type="hidden" asp-for="ClientEventId" value="@Model.ClientEventId"/>
                    <div class="form-group">
                        <label for="FirstName">Email on file</label>
                        <input type="email" class="form-control" disabled value="@Model.Email">
                    </div>
                    <div class="form-group">
                        <label for="FirstName">First name</label>
                        <input required type="text" class="form-control" asp-for="FirstName" value="@Model.FirstName">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last name</label>
                        <input required type="text" class="form-control" asp-for="LastName" value="@Model.LastName">
                    </div>
                    <div class="form-group">
                        <label for="CoverLetter">Cover letter</label>
                        <textarea required class="form-control" aria-describedby="coverLetterHelp" rows="3" asp-for="CoverLetter"></textarea>
                        <small id="coverLetterHelp" class="form-text text-muted">Copy and paste your cover letter text here.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    In order to apply for this position, you need to upload your resume to your CareerCircle account. You can do so at the top of your <a href="/Home/Profile">profile</a>.
                </div>
            }
        </div>
    </div>
</div>
