@model UpDiddy.ViewModels.JobSearchViewModel
@using UpDiddyLib.Dto;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using React.AspNet;
@using System.Globalization;
@using System.Threading;

@{
    string url = ViewBag.QueryUrl as string;
 int counter = 0;
}
<div class="job-search-container">
    @*search filter*@
    <div class="job-search-criteria">
        <form asp-controller="Jobs" asp-action="Index" id="SearchJobsForm" method="get">
            <div class="container job-search-block">
                <div class="row">
                    <!--Bring to center of container-->
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="row job-search-header">
                            <h2 class="job-search-header-text">Find Your Next Job</h2>
                        </div>
                        <div class="row job-search-content">
                            <p>
                                At CareerCircle, we're in the business of helping you succeed. Let us connect you with opportunities that propel your career forward.
                            </p>
                            <p>
                                Begin the path to career advancement here:
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-3">
                                @Html.TextBox("keywords", Model.Keywords, new { PlaceHolder = "Keywords", @class = "form-control", form = "SearchJobsForm" })
                            </div>
                            <div class="col-12 col-md-6 pb-3">
                                @Html.TextBox("location", Model.Location, new { PlaceHolder = "Location (optional)", @class = "form-control", form = "SearchJobsForm" })
                            </div>
                        </div>
                        <div class="row job-search-button">
                            <button id="SearchJobs" form="SearchJobsForm" type="submit" onclick="ScrubInputs()" class="btn btn-primary"> Search Jobs</button>
                        </div>
                    </div>
                    <!--Bring to center of container-->
                </div>
            </div>
        </form>
    </div>
    @*search filter*@

    @*search results*@
    <div class="job-search-results">
        <div class="row">
            @if (Model.Facets != null)
            {
                <div class="col-12 col-md-2">
                    <div class="facet-container">
                        <div class="container row">
                            <div class="col-12">
                                <button id="toggleLink" class="togglelink col-12 btn btn-primary" data-toggle="collapse" data-target="#SearchParameters">Filter <i id="toggleArrow" class="arrow down"></i></button>
                            </div>
                            <div id="SearchParameters" class="col-12">
                                <div id="active-filters">

                                </div>


                                @foreach (var facets in Model.Facets)
                                {

                                    //Date Published Search Navigator
                                    if (!url.Contains("datepublished"))
                                    {
                                        if (facets.Name == "DATE_PUBLISHED" && facets.Facets.Count > 1)
                                        {
                                            counter = 0;
                                            <div class="date_published facets-style">
                                                <div class="facet-header"> Date Posted</div>
                                                @foreach (var facet in facets.Facets)
                                                {
                                                    counter++;
                                                    <div>
                                                        <a href="@string.Format("{0}datepublished={1}", @ViewBag.QueryUrl, @facet.UrlParam)" class="facet-link @((counter > 5) ? "moreLink" : "")">@facet.Label &nbsp(@facet.Count)</a>
                                                    </div>
                                                }
                                                @if (facets.Facets.Count > 5)
                                                {
                                                    <div>
                                                        <a onclick="expandMoreLinks(this)">+ more >></a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }


                                    //Employment Type Search Navigator
                                    if (!url.Contains("employmenttype"))
                                    {
                                        if (facets.Name == "EmploymentType" && facets.Facets.Count > 1)
                                        {
                                            counter = 0;
                                            <div class="employment_type facets-style">
                                                <div class="facet-header">Employment Type</div>
                                                @foreach (var facet in facets.Facets)
                                                {
                                                    counter++;
                                                    <div>
                                                        <a href="@string.Format("{0}employmenttype={1}", @ViewBag.QueryUrl, @facet.UrlParam)" class="facet-link @((counter > 5) ? "moreLink" : "")">@facet.Label &nbsp(@facet.Count)</a>
                                                    </div>
                                                }
                                                @if (facets.Facets.Count > 5)
                                                {
                                                    <div>
                                                        <a onclick="expandMoreLinks(this)">+ more >></a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }

                                    //Location Search Navigator
                                    if (!url.Contains("city"))
                                    {
                                        if (facets.Name == "CITY" && facets.Facets.Count > 1)
                                        {
                                            counter = 0;
                                            <div class="city">
                                                <div class="facet-header">Location</div>
                                                @foreach (var facet in facets.Facets)
                                                {
                                                    counter++;
                                                    <div>
                                                        <a href="@string.Format("{0}city={1}", @ViewBag.QueryUrl.ToString().Replace("location","province"), @facet.UrlParam.Split(',')[0])" class="facet-link @((counter > 5) ? "moreLink" : "")">@facet.Label &nbsp(@facet.Count)</a>
                                                    </div>
                                                    @if (counter >= 15)
                                                    {
                                                        break;
                                                    }
                                                }
                                                @if (facets.Facets.Count > 5)
                                                {
                                                    <div>
                                                        <a onclick="expandMoreLinks(this)" class="moreLink-style">+ more >></a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }

                                    //Job Category Search Navigator
                                    if (!url.Contains("jobcategory"))
                                    {
                                        if (facets.Name == "JobCategory" && facets.Facets.Count > 1)
                                        {
                                            counter = 0;
                                            <div class="job_category facets-style">
                                                <div class="facet-header">Job Category</div>
                                                @foreach (var facet in facets.Facets)
                                                {
                                                    counter++;
                                                    <div>
                                                        <a href="@string.Format("{0}jobcategory={1}", @ViewBag.QueryUrl, @facet.UrlParam)" class="facet-link @((counter > 5) ? "moreLink" : "")">@facet.Label &nbsp(@facet.Count)</a>
                                                    </div>
                                                }
                                                @if (facets.Facets.Count > 5)
                                                {
                                                    <div>
                                                        <a onclick="expandMoreLinks(this)">+ more >></a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }

                                    //Industry Search Navigator
                                    if (!url.Contains("industry"))
                                    {
                                        if (facets.Name == "Industry" && facets.Facets.Count > 1)
                                        {
                                            counter = 0;
                                            <div class="industry facets-style">
                                                <div class="facet-header">Industry</div>
                                                @foreach (var facet in facets.Facets)
                                                {
                                                    counter++;
                                                    <div>
                                                        <a href="@string.Format("{0}industry={1}", @ViewBag.QueryUrl, @facet.UrlParam)" class="facet-link @((counter > 5) ? "moreLink" : "")">@facet.Label &nbsp(@facet.Count)</a>
                                                    </div>
                                                }
                                                @if (facets.Facets.Count > 5)
                                                {
                                                    <div>
                                                        <a onclick="expandMoreLinks(this)">+ more >></a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }

                                }


                            </div>
                        </div>
                    </div>
                </div>
            }
            @{
                string columnClass = Model.Facets != null ? "10" : "12";
            }
            <div class="col-12 col-md-@columnClass">
                <div class="container" id="">
                    @{ await Html.RenderPartialAsync("Partials/_JobResultsPartial", Model);}

                    <div class="row job-pagination container-align-center">
                        @Html.PagedListPager(Model.JobsSearchResult, page => Url.Action("Index", new
                   { page,
                       keywords= Model.Keywords,
                       location= Model.Location,
                       datepublished = ViewContext.HttpContext.Request.Query["datepublished"],
                       employmenttype= ViewContext.HttpContext.Request.Query["employmenttype"],
                       city= ViewContext.HttpContext.Request.Query["city"],
                       jobcategory= ViewContext.HttpContext.Request.Query["jobcategory"],
                       industry= ViewContext.HttpContext.Request.Query["industry"]
                   }),new X.PagedList.Mvc.Common.PagedListRenderOptionsBase() { Display=X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                       LiElementClasses = new string[] { "page-item" },
                       PageClasses = new string[] { "page-link" },
                       MaximumPageNumbersToDisplay=5,
                       DisplayLinkToFirstPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                       DisplayLinkToLastPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                       DisplayLinkToPreviousPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                       DisplayLinkToNextPage = X.PagedList.Mvc.Common.PagedListDisplayMode.IfNeeded,
                       LinkToFirstPageFormat = "««",
                       LinkToPreviousPageFormat = "«",
                       LinkToNextPageFormat = "»",
                       LinkToLastPageFormat = "»»",
                       DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                       ContainerDivClasses = new[] { "pagination-container" },
                       UlElementClasses = new[] { "pagination" }
                   })
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*search results*@
</div>

@section Scripts{
    <script type="text/javascript">
        "use strict";

        $(document).ready(function () {
            var parentElementUndoElement = document.getElementById('active-filters');
            var innerHtml = "<div class='facet-header'>Selected Filters</div>";

            @{
                var queryParameterList = @ViewContext.HttpContext.Request.Query.ToArray();

                CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
                TextInfo textInfo = cultureInfo.TextInfo;
            }
            @if (!string.IsNullOrEmpty(url))
            {
                 @foreach (var queryParameter in queryParameterList)
            {
                if (queryParameter.Key != "page" && !string.IsNullOrEmpty(queryParameter.Value))
                {
                     var removeQueryParameter = queryParameter.Key.ToString() + '=' + queryParameter.Value.ToString() + '&';
                var encodedRemoveQueryParameter=Uri.EscapeUriString(removeQueryParameter);

                var undoUrl = url.Replace(encodedRemoveQueryParameter, "").Trim('&');


               <text>
            innerHtml = innerHtml + "<div class='facet-link'><span>@textInfo.ToTitleCase(queryParameter.Value.ToString().ToLower().Replace('_', ' '))<span>&nbsp<a href='@undoUrl'>undo</a></div>";
            parentElementUndoElement.innerHTML = innerHtml;
                </text>
            }
                }
            }


            });

        function ScrubInputs() {

            $("#keywords").val($("#keywords").val().trim());  
            $("#location").val($("#location").val().trim());   
        }

        function expandMoreLinks(element) {

            var parentClassName = element.parentElement.parentElement.className;

            //querySelector to get list of child elements
            var querySelector = '.' + parentClassName + ' .moreLink';

            var childElements = document.querySelectorAll(querySelector);

            for (var i = 0; i < childElements.length; i++) {
                console.log(childElements[i].style.display);
                childElements[i].style.display = 'inline-block';
            }
            element.style.display = 'none';
    }

    $(document).ready(function () {
        $('#toggleLink').click(function () {
            if ($('#toggleArrow')[0].getAttribute('class') == "arrow up") {
                $('#toggleArrow').removeClass("up");
                $('#toggleArrow').addClass("down");

                $('#SearchParameters').removeClass("show");
                $('#SearchParameters').addClass("hide");
            }
            else {
                $('#toggleArrow').removeClass("down");
                $('#toggleArrow').addClass("up");

                $('#SearchParameters').removeClass("hide");
                $('#SearchParameters').addClass("show");
            }
        });
    });
    </script>
}


