@using System.Collections.Generic;
@using ButterCMS.Models;
@using UpDiddyLib.Helpers;
@model ButterCMS.Models.PostsResponse

@{
    Author authorInfo=null;
    bool showAuthor=Convert.ToBoolean(ViewData["ShowAuthorInfo"]);
    if(showAuthor)
    {
        authorInfo = Model.Data.ToList()[0].Author;
    }
}
<div class="blog-post-list-container">
    <div class="blog-search d-flex justify-content-center">
        <div class="p-2">
            <form method="get"  asp-controller="blog" asp-action="search">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <input class="form-control" name="query" type="text" placeholder="Keyword">
                    </div>
                    <div class="blog-search-button p-2">
                        <button type="submit" id="BtnBlogSearch" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                            Search Blog
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
    @if(showAuthor && authorInfo!=null)
    {
        <div class="author-info d-flex justify-content-center">
            <div class="col-9">
                <!--Author Header-->
                <div class="row">
                    <div class="p-2">
                        <div class="d-flex justify-content-left pl-1 mt-3">
                            <h1 class="blog-title">Blog</h1>
                        </div>
                    </div>
                </div> 

                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="row">
                            <div class="col-12 name">
                                @Utils.FormatName(authorInfo.FirstName, authorInfo.LastName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 title">
                                @Utils.FormatGenericField(authorInfo.Title, "job title")
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-12 image">
                                @if(authorInfo.ProfileImage!=null && authorInfo.ProfileImage!="")
                                 {
                                      <img class="w-50 rounded-circle" src="@authorInfo.ProfileImage" />
                                 }
                                else{
                                    <img class="w-50 rounded-circle" src="~/images/blank_avatar.jpg" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-12 author-bio">
                                  @if(authorInfo.Bio.Length>600)
                                    {
                                        <label id="biography">@Html.Raw(Utils.RemoveHTML(authorInfo.Bio.Substring(0, 601)))...<a id="bioLink" onclick="expandMoreLinks(this)" href="#">More</a></label>
                                    }
                                    else
                                    {
                                        <label id="biography">@authorInfo.Bio</label>
                                    }
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="social-links">
                                         @if(authorInfo.FacebookUrl!=null && authorInfo.FacebookUrl!="")
                                            {
                                               <li><a class="fab fa-facebook-square" href="@authorInfo.FacebookUrl"></a></li>
                                            }
                                        @if(authorInfo.TwitterHandle!=null && authorInfo.TwitterHandle!="")
                                        {
                                           <li><a class="fab fa-twitter-square" href="@authorInfo.TwitterHandle"></a></li>
                                        }
                                         @if(authorInfo.InstagramUrl!=null && authorInfo.InstagramUrl!="")
                                        {
                                             <li><a class="fab fa-instagram" href="@authorInfo.InstagramUrl"></a></li>
                                        }
                                         @if(authorInfo.LinkedinUrl!=null && authorInfo.LinkedinUrl!="")
                                        {
                                           <li><a class="fab fa-linkedin" href="@authorInfo.LinkedinUrl"></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </div>
    }
    <div class="d-flex justify-content-center">
        <div class="col-9">
            <div class="p-2">
                <div class="d-flex justify-content-left pl-1 mt-3">
                    <h2 class="blog-title">Articles</h2>
                </div> 
            </div>
            @if (Model != null)
            {
                int i = 0;
                @foreach (var post in Model.Data)
                {
                    <div class="p-2">
                        @Html.Partial("Partials/_PostItem", post)
                    </div>
                    if(i != Model.Data.Count() - 1)
                    {
                        <hr>
                    }                    
                    i++;
                }
                <div class="d-flex justify-content-center">
                    @if (ViewBag.PreviousPage != null)
                    {
                        <div class="p-2">
                            <a asp-controller="blog"
                               asp-route-page="@ViewBag.PreviousPage">
                                <b>Previous</b>
                            </a>
                        </div>
                    }
                    @if (ViewBag.NextPage != null)
                    {
                        <div class="p-2">
                            <a asp-controller="blog"
                               asp-route-page="@ViewBag.NextPage">
                                <b>Next</b>
                            </a>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center p-5">
                    No posts found
                </div>
            }
        </div>
    </div>
</div>

@if(showAuthor && authorInfo!=null)
{
    @section Scripts{
        <script type="text/javascript">
        "use strict";
                function expandMoreLinks(element) {
                    var biographyText=`@Html.Raw(Utils.RemoveHTML(authorInfo.Bio))`;
                    $("#biography").text(biographyText);
                        element.style.display='none';
                }
        </script>
    }
}

