@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels.ButterCMS
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model PackageServiceViewModel;
@using UpDiddy.Helpers

<div class="services-details-container">
    @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel()
    {
        Header = Model.PackageName + " - $" + Model.Price,
        Elements = new List<string>()
        {
            "<div class=\"container-align-center col-lg-8 offset-lg-2\">" + Model.QuickDescription + "</div><br /><br /><div class=\"container-align-center\">" + @Html.PartialToHtmlMarkup("Components/Buttons/_Action", new ActionButtonViewModel {
                Text = "Buy now!",
                Hyperlink = Context.Request.Path + "/checkout",
                FitToText = true,
                ChosenColorScheme = "cc-cscheme-white",
                ButtonAction = ActionButtonViewModel.Action.CTA,
                ButtonClass = "signup-cta",
                OpenNewWindow = false
            }) + "</div>"
        },
        Class = "cc-cscheme-secondary"
    })
    @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel()
    {
        Header = @Model.FullDescriptionHeader,
        Elements = new List<string>()
        {
            @"<div class='row'>
                <div class='col-lg-8 offset-lg-2'>" + 
                    Html.Raw(Model.FullDescription)
                + @"</div>
            </div>"
        },
        Class = "cc-cscheme-white"
    })
    @{
        List<string> Elements = new List<string>()
    {
        "<div class=\"container-align-center\">As a CareerCircle member, you can take advantage of this awesome package today!</div><br /><br /><div class=\"container-align-center\">" + @Html.PartialToHtmlMarkup("Components/Buttons/_Action", new ActionButtonViewModel {
            Text = "Get it today!",
            Hyperlink = Context.Request.Path + "/checkout",
            FitToText = true,
            ChosenColorScheme = "cc-cscheme-white",
            ButtonAction = ActionButtonViewModel.Action.CTA,
            ButtonClass = "signup-cta",
            OpenNewWindow = false
        }) + "</div>"

    };
    }
    @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel
    {
        Class = "cc-cscheme-primary",
        Elements = Elements
    })
</div>