@model ButterCMS.Models.Post
<div class="d-flex flex-row flex-wrap flex-md-nowrap">
    <div class="d-flex flex-column">
        <div class="p-2">
            <a asp-controller="blog"
               asp-action="post"
               asp-route-id="@Model.Slug">
                @if (Model.FeaturedImage == null)
                {
                    <div class="blog-post-empty-image"></div>
                }
                else
                {
                    <img class="blog-post-image" src="@Model.FeaturedImage" alt="@Model.Title" />
                }
            </a>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="p-2">
            <div class="blog-post-title">
                <b>@Model.Title</b>
            </div>
            <div class="blog-post-info">
                By
                <a asp-controller="blog"
                   asp-action="author"
                   asp-route-id="@Model.Author.Slug">
                    @Model.Author.FirstName @Model.Author.LastName
                </a>
                <b>|</b>
                <a>
                    @Model.Published.Value.ToString("MMMM dd, yyyy")
                </a>
            </div>
            <div class="blog-post-summary">
                @Model.Summary
            </div>
            <div>
                <a asp-controller="blog"
                   asp-action="post"
                   asp-route-id="@Model.Slug">Read More</a>
            </div>
        </div>
    </div>
</div>


