@using React.AspNet;
@Html.Partial("Admin/_AdminNavigation")
<section class="section cards-section mt-3 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="height:200px:overflow:auto;">
                <!-- New Subscriber Report Card-->
                <div class="card shadow mb-3" >
                    <div class="card-header">New Users - 3 Week Review</div>
                    <div class="card-body p-0" style="max-height: 250px;overflow-y: auto;">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Date Range</th>
                                    <th class="text-right" scope="col"># Users Created</th>
                                    <th class="text-right" scope="col"># Enrollments</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in ViewBag.subscriberReport.Report)
                                {
                                    <tr>
                                        <td>@r.StartDate.ToShortDateString() -  @( r.EndDate == null ? "Present" : r.EndDate.ToShortDateString() )</td>
                                        <td class="text-right">@r.SubscriberCount</td>
                                        <td class="text-right">@r.EnrollmentCount</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="font-weight-bold">
                                <tr>
                                    <td class="text-uppercase">All Time:</td>
                                    <td class="text-right">@ViewBag.subscriberReport.Totals.SubscriberCount</td>
                                    <td class="text-right">@ViewBag.subscriberReport.Totals.EnrollmentCount</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- New Subscriber Report Card-->
                <div class="card shadow mb-3">
                    <div class="card-header">Total User Breakdown By Partner</div>
                    <div class="card-body p-0" style="max-height: 250px;overflow-y: auto;">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Partner</th>
                                    <th class="text-right" scope="col"># Users Created</th>
                                    <th class="text-right" scope="col"># Enrollments</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in ViewBag.partnerReport.Report)
                                {
                                    <tr>
                                        <td>@r.PartnerName</td>
                                        <td class="text-right">@r.SubscriberCount</td>
                                        <td class="text-right">@r.EnrollmentCount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card shadow my-3">
                    <div class="card-header">
                        Recruiter Actions By Partner Report
                    </div>
                    <div class="card-body p-0">
                        @Html.React("SATable", new { data = ViewBag.partnerSubActionReport, show = false })
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card shadow my-3">
                    <div class="card-header">
                        Job Applications by Company
                    </div>
                    <div class="card-body p-0">
                        @Html.React("JobAppReportTable", new { data = ViewBag.jobApplicationCountReport, show = false})
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card shadow mb-3">
                    <div class="card-header">Offer Action Summary</div>
                    <div class="card-body p-0">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Offer</th>
                                    <th scope="col">Code</th>
                                    <th class="text-right" scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in ViewBag.offerActionSummary)
                                {
                                    <tr>
                                        <td>@r.OfferName</td>
                                        <td>@r.OfferCode</td>
                                        <td class="text-right">@r.ActionCount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(".admin-nav-dashboard").addClass("active");
    </script>
}