
@page
@model UnifiedModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using  Microsoft.AspNetCore.Http

@inject IViewLocalizer Localizer

@{
    Layout = null;
    var rqf = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    // Culture contains the information of the requested culture
    var culture = rqf.RequestCulture.Culture;
 
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- inject:css -->
    <!-- endinject -->
    <!-- removeIf(production) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="https://b2c-custom-policy-templates.azurewebsites.net/css/unified.css" rel="stylesheet">
    <!-- endRemoveIf(production) -->
</head>
<body>
    <main>
        <div class="container unified-container">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h3>Career Circle</h3>
                        </div>
                        <div id="api"></div>
                        <div id="tos">
                            <a href="http://www.ebay.com">Localizer->@Localizer["Terms Of Service"]</a> <br />
                            <a href="http://www.ebay.com">Custom Implementation ->@Model.TermsLabel </a>
                    
                        </div>

                        @*<div id="tos">
                                <a href="http://www.ebay.com">@Localizer["Terms Of Service"]</a>
                                QueryParams->@Request.QueryString.ToString()
                                <br>
                                Culture.Name=>@culture.Name
                            </div>*@


                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        THis is the footer
    </footer>
</body>
</html>