@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model TopicViewModel
@{ 
    Boolean topicHasCourses = false;
    if (Model.Courses.Count > 0) {
        topicHasCourses = true;
    }
}


<div class="detail-view-container">
    <div class="row topic-hero-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="hero-title">@Model.Topic.Name Courses</div>
                        <div class="hero-subtitle">@Model.Topic.Description</div>
                    </div>
                    <div class="col-md-4 d-none d-md-block container-align-right">
                        <img src="~/images/globe.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row course-list-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="breadcrumb-text"><a href="/Home/Index">Home</a> <!--/ <a href="#">Career Skilling</a>--> / @Model.Topic.Name</span>
                    </div>
                    <div class="col-md-6 ">
                        <span class="section-heading f-color-primary">
                            List of @Model.Topic.Name Courses
                        </span>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            @if (topicHasCourses)
                            {
                                <!--
                <input type="text" class="form-control" placeholder="Course Search">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>-->
                            }
                        </div>
                    </div>
                    @if (topicHasCourses)
                    {
                        foreach (CourseDto course in Model.Courses)
                        {
                            string DescriptionBlurb = course.Description;
                            if (DescriptionBlurb.Length > 130)
                            {
                                DescriptionBlurb = DescriptionBlurb.Substring(0, 130) + "...";

                            }
                            if (course.Hidden == 0 || course.Hidden == null)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12 card-column">
                                    <a class="card-hyperlink-container" href="/Course/Checkout/@(course.Slug)">
                                        <div class="card">
                                            <img class="card-img-top" src="@(Model.ImageUrl + course.DesktopImage)" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">@course.Name</h5>
                                                <p class="card-text fade-text">@DescriptionBlurb</p>
                                                <div class="row course-footer">
                                                    <div class="col-6">
                                                        From @string.Format("{0:C}", course.CourseVariants.OrderBy(cv => cv.Price).Select(cv => cv.Price).FirstOrDefault())
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card-footer-cc">
                                                            Enroll <i class="fas fa-check-circle"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>

                            }

                        }
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="no-courses-container">
                                <div class="no-courses-message">Unfortunately, no courses are currently being offered for the @Model.Topic.Name topic.</div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
