@using UpDiddy.ViewModels.Components.Layout
@model PublicSiteNavigationMenuItemViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



<script>
    var userNotificationCount = @Model.NotificationCount;
</script>


<nav class="navbar cc-navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="~/Home/Index">
            <img src="~/images/cc_logo.png" asp-append-version="true" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavigationItems" aria-controls="NavigationItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="NavigationItems">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                @foreach (PublicSiteNavigationMenuItemViewModel item in Model.ChildPages)
                {
                    if (!item.NeedsAuthentication || (item.NeedsAuthentication && User.Identity.IsAuthenticated))
                    {
                        if (item.ChildPages.Count == 0 && 
                            (item.Role.RolePolicy == null || 
                            (item.Role.RolePolicy != null && (await AuthorizationService.AuthorizeAsync(User, item.Role.RolePolicy)).Succeeded)))
                        {
                            <li class="nav-item">
                                <a class="nav-link @item.JavascriptClass" href="@item.Url">
                                    @Html.Partial("Components/PublicSiteNavigation/_Anchor", item)
                                </a>
                            </li>
                        }
                        else
                        {
                            int ItemHash = item.GetHashCode();
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @item.JavascriptClass" id="id_@ItemHash" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Html.Partial("Components/PublicSiteNavigation/_Anchor", item)
                                </a>
                                <div class="dropdown-menu" aria-labelledby="id_@ItemHash">
                                    @foreach (PublicSiteNavigationMenuItemViewModel Child in item.ChildPages)
                                    {
                                        if (Child.IsNewSection)
                                        {
                                            <div class="dropdown-divider"></div>
                                        }
                                        if (Child.Role.RolePolicy == null || (Child.Role.RolePolicy != null && (await AuthorizationService.AuthorizeAsync(User, Child.Role.RolePolicy)).Succeeded))
                                        {
                                            <a class="dropdown-item @Child.JavascriptClass" href="@Child.Url">
                                                @Html.Partial("Components/PublicSiteNavigation/_Anchor", Child)
                                            </a>
                                        }
                                    }
                                </div>
                            </li>
                        }
                    }
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item brand-button-light"><a class="nav-link" asp-area="" asp-controller="Session" asp-action="SignIn">Login/Sign Up</a></li>
                }
                else{
                    <li class="nav-item">
                        <a class="nav-link nav-notifications d-flex align-items-center" href="/Dashboard">
                            <i class="fas fa-bell"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>



