@using UpDiddy.ViewModels
@model CourseViewModel
<ul>
    <li>First Name: @Model.Subscriber.FirstName</li>
    <li>Last Name: @Model.Subscriber.LastName</li>
    <li>Phone Number: @Model.Subscriber.PhoneNumber</li>
    <li>Email Address: @Model.Subscriber.Email</li>
    <li>Address: @Model.Subscriber.Address</li>
</ul>
