@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web
@inject IViewLocalizer Localizer
@{ 
    string DomainName = Context.Request.Host.ToString();
    string SSLProtocol = Context.Request.Scheme.ToString();
    string ProtocolAndHost = SSLProtocol + "://" + DomainName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerCircle</title>
    <link rel="shortcut icon" href="@(ProtocolAndHost)/images/Icon-20.png"/>
    <environment names="Development,DevelopmentLocalApi,DevelopmentLocal">
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/lib/font-awesome/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="@(ProtocolAndHost)/css/bundle.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
    </environment>

        
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="@(ProtocolAndHost)">
                <img src="@(ProtocolAndHost)/images/cc_logo.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavigationItems" aria-controls="NavigationItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavigationItems">
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item"><a class="nav-link" asp-controller="Topic" asp-action="Index">@Localizer["Career Skilling"]</a></li>-->
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">@Localizer["About"]</a></li>
                    <!--<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="News">@Localizer["News"]</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">@Localizer["Contact"]</a></li>-->


                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item nav-link-right"><a class="nav-link" asp-area="" asp-controller="Session" asp-action="EditProfile">Hello, @User.Identity.Name!</a></li>
                        <li class="nav-item nav-link"><a class="nav-link" asp-area="" asp-controller="Session" asp-action="SignOut">Sign out</a></li>
                        <li class="nav-item nav-link"><a class="nav-link" asp-area="" asp-controller="User" asp-action="Dashboard" asp-route-username='@User.Identity.Name'>My Circle</a></li>
                    }
                    else
                    {
                        <li class="nav-item nav-link-right"><a class="nav-link" asp-area="" asp-controller="Session" asp-action="SignIn">Sign In</a></li>
                        <li class="nav-item brand-button-light"><a class="nav-link" asp-area="" asp-controller="Session" asp-action="SignIn">Sign Up</a></li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()
    
    @await Html.PartialAsync("_Footer")
    <environment names="Development,DevelopmentLocalApi,DevelopmentLocal">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        @*<script src="~/js/site.dev.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script type="text/javascript" src="@(ProtocolAndHost)/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">

        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>
 
    @RenderSection("Scripts", required: false)

 
</body>
</html>
