@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Web
@using React.AspNet;

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc

@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html>
<head>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
         })(window, document, 'script', 'dataLayer', '@Configuration["GoogleTagManager:Code"].ToString()');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerCircle</title>
    @await Component.InvokeAsync("MetaTags", new { PagePath = Context.Request.Path.ToString() })
    <link rel="shortcut icon" href="~/images/Icon-20.png" />
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.dev.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
        <div class="modal fade show" id="cookiePolicyModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <partial name="_CookieConsentPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@Configuration["GoogleTagManager:Code"].ToString()"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    @await Component.InvokeAsync("PublicSiteNavigation")
    @RenderBody()
    @await Html.PartialAsync("_Footer")
    <script type="text/javascript">
        var API_URL = "@Configuration["Api:ApiUrl"]";
        var SIGNALR_URL = "@Configuration["SignalR:HubUrl"]";
    </script>
    <environment names="Development">
        <script type="text/javascript" src="~/js/site.dev.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript" src="~/js/runtime.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/components.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
    @Html.ReactInitJavaScript()

     <script type="text/javascript">
        $(window).on('load', function () {
            if ($.cookie('AspNet.Consent') == undefined) {
                $('#cookiePolicyModal').modal('show');
            }          
        });
    </script>
</body>
</html>
