@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model CourseViewModel

<div class="checkout-page-container">
    <div class="row checkout-topic-detail-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="hero-title">@Model.Course.Name</div>
                        <div class="hero-subtitle">@Model.Course.Description</div>
                    </div>
                    <div class="col-md-4 container-align-right">
                        <img src="~/images/globe.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row checkout-vendor-info-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form id="CourseCheckoutForm" asp-controller="Course" asp-action="Checkout" method="post">
                            <input type="hidden" id="CourseSlug" value="@Model.Course.Slug" asp-for="CourseSlug" />
                            <input type="hidden" id="BraintreeNonce" name="payment_method_nonce" asp-for="PaymentMethodNonce" />
                            <input type="hidden" id="CourseGuid" name="CourseGuid" value="@Model.Course.CourseGuid" />
                            <input type="hidden" id="SubscriberGuid" name="SubscriberGuid" value="@Model.Subscriber.SubscriberGuid" />
                            <input type="hidden" id="PromoCodeRedemptionGuid" asp-for="PromoCodeRedemptionGuid" />
                            <div class="form-group col-md-3">

                            </div>
                            <div class="form-group col-md-3">

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="promotional-code-header"><h3>Promotional Code</h3></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="input-group">
                                        <input type="text" id="PromoCodeInput" class="form-control" placeholder="Enter a promo code" aria-label="Promo code:" aria-describedby="PromoCodeApplyButton">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="PromoCodeApplyButton">Apply</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="ValidationMessageError" class="form-group col-md-12">
                                    <div class="promotional-code-validation">
                                        <span>
                                            <!-- validation message error messages are added here-->
                                        </span>
                                    </div>
                                </div>
                                <div id="ValidationMessageSuccess" class="form-group col-md-12">
                                    <div class="promotional-code-validation">
                                        <span>
                                            <!-- validation message success messages are added here-->
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row billing-info-container">
                                <div class="form-group col-md-12 billing-info-header-container">
                                    <div class="billing-info-header"><h3>Your Information</h3></div>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" name="SubscriberFirstName" id="SubscriberFirstName" asp-for="Subscriber.FirstName" placeholder="First Name" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" name="SubscriberLastName" id="SubscriberLastName" asp-for="Subscriber.LastName" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-row billing-info-container">
                                <div class="form-group col-md-12 billing-info-header-container">
                                    <div class="billing-info-header"><h3>Billing Information</h3></div>
                                    <!--<div class="form-check same-as-above">
                                        <input type="checkbox" class="form-check-input" id="SameAsAboveCheckbox" asp-for="SameAsAboveCheckbox">
                                        <label class="form-check-label" for="sameAsAboveCheckbox">Same as above</label>
                                    </div>-->
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" name="BillingFirstName" id="BillingFirstName" asp-for="BillingFirstName" placeholder="First Name" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" name="BillingLastName" id="BillingLastName" asp-for="BillingLastName" placeholder="Last Name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="BillingAddress" id="BillingAddress" asp-for="BillingAddress" placeholder="Address" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" name="BillingCity" id="BillingCity" asp-for="BillingCity" placeholder="City" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <select class="form-control" id="BillingState" name="BillingState" asp-for="BillingState" required>
                                        <option selected>State</option>
                                        <option>MD</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control" name="BillingZipCode" id="BillingZipCode" asp-for="BillingZipCode" placeholder="Zip Code" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <select class="form-control" id="BillingCountry" name="BillingCountry" asp-for="BillingCountry" required>
                                        <option selected>Country</option>
                                        <option>US</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row" id="BraintreePaymentContainer">
                                <div class="form-group col-md-12">
                                    <div class="payment-info-header">
                                        <h3>Secure Payment Information</h3>
                                    </div>
                                </div>
                                <div class="bt-drop-in-wrapper">
                                    <div id="bt-dropin"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="terms-of-service-header">
                                        <h3>Terms of Service</h3>
                                    </div>
                                    <div class="terms-of-service-scrollview">
                                        @Model.TermsOfService.TermsOfService
                                    </div>
                                    <div class="form-check tos-agree">
                                        <input type="hidden" asp-for="TermsOfServiceDocId" value="@Model.TermsOfService.DocumentId" />
                                        <input type="checkbox" class="form-check-input" id="TermsOfServiceCheckbox">
                                        <label class="form-check-label" for="TermsOfServiceCheckbox">I agree</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group offset-md-6">
                                    <div class="promotional-code-header"><h3>Total:</h3></div>
                                </div>
                                <div class="form-group offset-md-6 col-12 col-md-6">
                                    <div class="row total-container">
                                        <div class="form-group col-6">
                                            @Model.Course.Name
                                        </div>
                                        <div class="form-group col-6 container-align-right">
                                            @string.Format("{0:C}", Model.Course.Price)
                                        </div>
                                        <div class="form-group col-6">
                                            Promotional Code
                                        </div>
                                        <div class="form-group col-6 container-align-right">
                                            <span id="PromoCodeTotal">$0.00</span>
                                        </div>
                                        <div class="form-group col-6 total-row-item">
                                            Total
                                        </div>
                                        <div class="form-group col-6 container-align-right total-row-item">
                                            <span id="CourseTotal">@string.Format("{0:C}", Model.Course.Price)</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="enrollment-submit-container container-align-right">
                                <button type="submit" id="EnrollmentSubmitButton" class="brand-button contrast-primary enrollment-submit" disabled>Enroll</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row checkout-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#CourseCheckoutForm');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            // bypass payment if course cost is zero
            if ($('#CourseTotal').val() === 0) {
                HTMLFormElement.prototype.submit.call(form);
                return;
            }

            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }
                
                // Add the nonce to the form and submit
                 $('#BraintreeNonce').val(payload.nonce);
                 form.submit();
            });
        });
    });
</script>
