@using UpDiddy.ViewModels
@using System.Web
@using UpDiddyLib.Dto
@using UpDiddyLib.Helpers;
@using System.Collections;
@model CourseViewModel
<script type="text/javascript">
    // this must be present for the API call used in site.js
    var url = '@Url.Action("GetStatesByCountry", "Home")';
</script>
<div class="checkout-page-container">
    <div class="row checkout-topic-detail-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="hero-title">@Model.Name</div>
                        <div class="hero-subtitle">@Model.Description</div>
                    </div>
                    <div class="col-md-4 container-align-right">
                        <img src="~/images/globe.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row checkout-vendor-info-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="ValidationSummary" class="form-group col-12">
                            @Html.ValidationSummary("Woops! Your enrollment cannot continue before the following issues are resolved:", new { @class = "alert alert-danger" })
                        </div>
                        <form id="CourseCheckoutForm" asp-controller="Course" asp-action="Checkout" method="post">
                            <input type="hidden" id="BraintreeNonce" name="payment_method_nonce" asp-for="PaymentMethodNonce" />
                            <input type="hidden" id="CourseGuid" name="CourseGuid" value="@Model.CourseGuid" />
                            <input type="hidden" id="PromoCodeRedemptionGuid" asp-for="@Model.PromoCodeRedemptionGuid" />
                            <input type="hidden" id="SubscriberGuid" asp-for="@Model.SubscriberGuid" />
                            <input type="hidden" id="Slug" asp-for="@Model.Slug" />
                            <input type="hidden" id="Name" asp-for="@Model.Name" />
                            <input type="hidden" id="Description" asp-for="@Model.Description" />
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <div id="CourseVariants">
                                        <h3>Course Options</h3><span>Choose one of the following:</span>
                                        @if (Model.CourseVariants != null)
                                        {
                                            <div class="row">
                                                @foreach (var section in Model.CourseVariants)
                                                {
                                                    <div class="col-6">
                                                        <div>
                                                            @Html.RadioButtonFor(m => m.SelectedCourseVariant, section.CourseVariantGuid, new { id = section.CourseVariantGuid, required = "required" })
                                                            <label asp-for="SelectedCourseVariant">@(section.CourseVariantType)</label>
                                                        </div>
                                                        <div>
                                                            <span>Price:</span>
                                                            <span class="price">@string.Format("{0:C}", section.Price)</span>
                                                        </div>
                                                        <div class="CourseVariantStartDate">
                                                            @if (section.StartDates != null)
                                                            {
                                                                <span>Select a start date:</span>
                                                                @Html.DropDownListFor(m => m.SelectedStartDate, section.StartDates, "---", new { @class = "form-control" })
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <div class="promotional-code-header"><h3>Promotional Code</h3></div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <input type="text" id="PromoCodeInput" class="form-control" placeholder="Enter a promo code" aria-label="Promo code:" aria-describedby="PromoCodeApplyButton">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="PromoCodeApplyButton">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="ValidationMessageError" class="form-group col-md-12">
                                            <div class="promotional-code-validation">
                                                <span>
                                                    <!-- validation message error messages are added here-->
                                                </span>
                                            </div>
                                        </div>
                                        <div id="ValidationMessageSuccess" class="form-group col-md-12">
                                            <div class="promotional-code-validation">
                                                <span>
                                                    <!-- validation message success messages are added here-->
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row billing-info-container">
                                        <div class="form-group col-md-12 billing-info-header-container">
                                            <div class="billing-info-header"><h3>Your Information</h3></div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="SubscriberFirstName" id="SubscriberFirstName" asp-for="SubscriberFirstName" placeholder="First Name" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="SubscriberLastName" id="SubscriberLastName" asp-for="SubscriberLastName" placeholder="Last Name" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="SubscriberPhoneNumber" id="SubscriberPhoneNumber" asp-for="SubscriberPhoneNumber" placeholder="Phone Number" required>
                                        </div>
                                    </div>
                                    <div class="form-row billing-info-container">
                                        <div class="form-group col-md-12 billing-info-header-container">
                                            <div class="billing-info-header"><h3>Billing Information</h3></div>
                                            <!--
                                                                                <div class="form-check same-as-above">
                                                <input type = "checkbox" class="form-check-input" id="SameAsAboveCheckbox" asp-for="SameAsAboveCheckbox">
                                                <label class="form-check-label" for="sameAsAboveCheckbox">Same as above</label>
                                            </div>-->
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="BillingFirstName" id="BillingFirstName" asp-for="BillingFirstName" placeholder="First Name" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="BillingLastName" id="BillingLastName" asp-for="BillingLastName" placeholder="Last Name" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" name="BillingAddress" id="BillingAddress" asp-for="BillingAddress" placeholder="Address" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="BillingCity" id="BillingCity" asp-for="BillingCity" placeholder="City" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            @Html.DropDownListFor(m => m.SelectedState, Model.States, "Select State", new { @class = "form-control state-select" })
                                        </div>
                                        <div class="form-group col-md-3">
                                            @Html.DropDownListFor(m => m.SelectedCountry, Model.Countries, "Select Country", new { @class = "form-control country-select" })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control" name="BillingZipCode" id="BillingZipCode" asp-for="BillingZipCode" placeholder="Zip Code" required>
                                        </div>
                                    </div>
                                    <div class="form-row" id="BraintreePaymentContainer">
                                        <div class="form-group col-md-12">
                                            <div class="payment-info-header">
                                                <h3>Secure Payment Information</h3>
                                            </div>
                                        </div>
                                        <div class="bt-drop-in-wrapper">
                                            <div id="bt-dropin">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <div class="terms-of-service-header">
                                                <h3>Terms of Service</h3>
                                            </div>
                                            <div class="terms-of-service-scrollview">
                                                @Model.TermsOfServiceContent
                                            </div>
                                            <div class="form-check tos-agree">
                                                <input type="hidden" asp-for="TermsOfServiceDocumentId" value="@Model.TermsOfServiceDocumentId" />
                                                <input type="hidden" asp-for="TermsOfServiceContent" value="@Model.TermsOfServiceContent" />
                                                <input type="checkbox" class="form-check-input" id="TermsOfServiceCheckbox">
                                                <label class="form-check-label" for="TermsOfServiceCheckbox">I agree</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group offset-md-6">
                                            <div class="promotional-code-header"><h3>Total:</h3></div>
                                        </div>
                                        <div class="form-group offset-md-6 col-12 col-md-6">
                                            <div class="row total-container">
                                                <div class="form-group col-6">
                                                    @Model.Name
                                                </div>
                                                <div class="form-group col-6 container-align-right">

                                                    <span id="InitialCoursePrice">
                                                    </span>

                                                </div>
                                                <div class="form-group col-6">
                                                    Promotional Code
                                                </div>
                                                <div class="form-group col-6 container-align-right">
                                                    <span id="PromoCodeTotal">$0.00</span>
                                                </div>
                                                <div class="form-group col-6 total-row-item">
                                                    Total
                                                </div>
                                                <div class="form-group col-6 container-align-right total-row-item">
                                                    <span id="CourseTotal">
                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="enrollment-submit-container container-align-right">
                                        <button type="submit" id="EnrollmentSubmitButton" class="brand-button contrast-primary enrollment-submit" disabled>Enroll</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row checkout-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section  Scripts {
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#CourseCheckoutForm');
    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            // bypass payment if course cost is zero
            if ($('#CourseTotal').html() === "$0.00") {
                HTMLFormElement.prototype.submit.call(form);
                return;
            }

            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                 $('#BraintreeNonce').val(payload.nonce);
                 form.submit();
            });
        });
        });
</script>
}