@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model TextWithVideoBandViewModel
@*
    ***Customization Options***

    You can change the "cc-cscheme-secondary" class on the root div
    below to change the color scheme of the band (other options
    include cc-cscheme-white and cc-cscheme-primary).
*@
<div class="cc-text-video-band @Model.ChosenColorScheme row">
    <div class="col-12">
        <div class="container no-padding">
            <div class="row">
                <div class="col-12 col-lg-6 cc-text-video-band-left-column no-padding">
                    <div class="cc-text-video-band-verbiage-container d-flex align-items-center">
                        <div class="row">
                            <div class="col-12 cc-text-video-band-header font-bold">
                                @Model.Header
                            </div>
                            <div class="col-12 cc-text-video-band-description">
                                <div>@Model.DescriptionLine1</div>
                                <div>@Model.DescriptionLine2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 cc-text-video-band-right-column">
                    <div class="career-circle-video-container d-flex align-items-center">
                        <div class="row">
                            <div class="col-12 no-padding">
                                <video class="embed-responsive embed-responsive-16by9"
                                       src="@Model.VideoUrl"
                                       controls
                                       frameborder="0"
                                       allowfullscreen
                                       asp-append-version="true"></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>