@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model TripleContainerBandViewModel
@*
    ***Customization Options***

    You can change the "skew-left-to-right" option to
    "skew-right-to-left" to change the skew direction.
*@

<div class="cc-triple-container-band @Model.ChosenColorScheme row">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 no-padding">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="cc-triple-container-band-header font-bold">
                                @Model.Header
                            </div>
                        </div>
                        <div class="col-12 col-md-4 tcb-first-container">
                            <div class="row">
                                @{
                                    if (!string.IsNullOrEmpty(Model.C1TopValue))
                                    {
                                        <div class="col-12 no-padding top-value-container font-bold">
                                            @Model.C1TopValue
                                        </div>
                                    }
                                }
                                <div class="col-12 no-padding bottom-value-container font-bold">
                                    @Model.C1BottomValue
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 tcb-second-container">
                            <div class="row">
                                @{
                                    if (!string.IsNullOrEmpty(Model.C2TopValue))
                                    {
                                        <div class="col-12 no-padding top-value-container font-bold">
                                            @Model.C2TopValue
                                        </div>
                                    }
                                }
                                <div class="col-12 no-padding bottom-value-container font-bold">
                                    @Model.C2BottomValue
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 tcb-third-container">
                            <div class="row">
                                @{
                                    if (!string.IsNullOrEmpty(Model.C3TopValue))
                                    {
                                        <div class="col-12 no-padding top-value-container font-bold">
                                            @Model.C3TopValue
                                        </div>
                                    }
                                }
                                <div class="col-12 no-padding bottom-value-container font-bold">
                                    @Model.C3BottomValue
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>